# Don't keep  wind fields
*.wnd
*.hh
*.sum
*.csv
*.mat
*.bin

#keep only the test file
!TestFiles/TEST_Sh25_SD01_V15_TI05.mat
!TestFiles/FLTEST_Sh20_SD01_V10_TI09_dynamics.mat
!TestFiles/FLTEST_Sh20_SD01_V10_TI09.mat

# Ignore the folders with data
OriginalWF/
LidarOutput/
ConstrainedWF/
InputsForConstrainedTurb/
Developer/
Floater_Dynamics/

# matlab asvs
*.asv

# Specific files
Main/LidarSimulatorCOPY.m
Main/InputParameters.m