# Don't keep wind fields and figures
*.wnd
*.hh
*.sum
*.csv
*.mat
*.png
*.eps
!TestFiles/TEST_Sh25_SD01_V15_TI05.mat #keep only the test file

# Ignore the folders with data
OriginalWF/
LidarOutput/
ConstrainedWF/
InputsForConstrainedTurb/
Developer/

# matlab asvs
*.asv

# Specific files
Main/InputParameters.m
